@use 'colors';
@use 'common';
@use 'screens';
@use 'scroll';
@use 'text';


// Preflight styles to cleanup browser defaults

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

table
{
    text-indent: 0;
    border-collapse: collapse;
}

ol, ul, menu
{
    list-style: none;
    margin: 0;
    padding: 0;
}

article, section, footer
{
    margin: 0;
    padding: 0;
}