@use 'colors';
@use 'common';
@use 'text';

// Button depth when pressed - used when .floating is applied
$floating-depth-pressed: 0.8;

// Mixin to control button colors (useful for focus/hover/active states)
@mixin button-colors($foreground: colors.$white, $background: colors.$white, $outline: colors.$black) {
    color: $foreground;
    background-color: $background;
    border-color: $outline;
    text-decoration: none;
}

// Reusable mixin for button styling, can be combined with rounded/floating mixins
@mixin button($foreground: colors.$black, $background: colors.$white, $outline: colors.$black) {
    @include button-colors($foreground, $background, $outline);
    display: inline-block;
    font-size: text.$font-size-lg;
    font-weight: bold;
    border-radius: common.$border-radius-capsule;
    padding: 0.75em 1.5em;
    margin: 0.1rem 0.25rem;
    border: 3px solid $outline;
    outline: none;
    user-select: none;
    white-space: nowrap;
    transition-duration: common.$animation-duration-sm;
    transition-property: color, background-color, border-color;
}

// Button variants

button, .button, .button-black
{
    @include button;

    &:hover, &:active
    {
        @include button-colors(colors.$white, colors.$black, colors.$black);
    }

    &:focus
    {
        @include button-colors(colors.$white, colors.$black, colors.$gray);
    }
}
