// Color constants for each color in the palette

// Grays
$white: white;
$light-gray: #C4C4C4;
$gray: #757576;
$dark-gray: #2C2C2C;
$black: black;

// Accents
$magenta: #FF3A58;
$orange: #FCA408;
$yellow: #F1CD2A;
$green: #30BB58;
$cyan: #008AF8;
$purple: #BC60D0;
