
// Animation duation constants

$animation-duration-sm: 0.2s; // Use this for 99% of interactable elements
$animation-duration-md: 0.5s; // Use this for small animations (eg: a wiggle)
$animation-duration-lg: 1s;   // Use this for long animations (eg: fade)

// Corner Radius contstants

$border-radius-sm: 0.2em;          // Use this only for smaller items with tight padding
$border-radius-md: 0.5em;          // Use this for 99% of rectangular buttons/containers
$border-radius-lg: 1em;            // Use this if the normal one looks too boxy (generally larger objects)
$border-radius-capsule: 10000vmax; // Use this to get max roundness (a circle or capsule)

// Common padding sizes

$padding-sm: 0.5em;
$padding-md: 1em;
$padding-lg: 2em;

// Common appearance modifiers

@mixin rounded($radius: $border-radius-capsule) {
    border-radius: $radius;
}

@mixin floating($distance: 1) {
    filter: drop-shadow(0 #{2px * $distance} #{2px * $distance} rgba(0, 0, 0, 0.5));
}

// Classes for mixins

.floating
{
    @include floating;
}

.rounded
{
    @include rounded;
}

.rounded-corners
{
    @include rounded($border-radius-md);
}

// Simple starting point for layouts

.layout-vertical
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 0;
}

.layout-content
{
    width: 100%;
    height: 100%;
    flex: 1;
}
