// Screen Size Breakpoints

$screen-mobile-sm: 640px;
$screen-mobile-md: 720px;
$screen-mobile-lg: 960px;
$screen-desktop-sm: 1280px;
$screen-desktop-md: 1440px;
$screen-desktop-lg: 1980px;
$screen-desktop-xl: 2560px;
$screen-desktop-4k: 3840px;

// Reusable media queries for different sizes

@mixin between-sizes($min-size, $max-size)
{
    @media screen and (min-width: $min-size) and (max-width: $max-size) { @content; }
}

@mixin too-small
{
    @media screen and (max-width: $screen-mobile-sm) { @content; }
}

@mixin on-mobile
{
    @include between-sizes($screen-mobile-sm, $screen-mobile-lg) { @content; }
}

@mixin on-desktop
{
    @media screen and (min-width: $screen-mobile-lg) { @content; }
}

@mixin on-4k
{
    @media screen and (min-width: $screen-desktop-4k) { @content; }
}

// Specific checks for various ranges

@mixin mobile-sm-md
{
    @include between-sizes($screen-mobile-sm, $screen-mobile-md) { @content; }
}

@mixin mobile-md-lg
{
    @include between-sizes($screen-mobile-md, $screen-mobile-lg) { @content; }
}

@mixin mobile-desktop-range
{
    @include between-sizes($screen-mobile-lg, $screen-desktop-sm) { @content; }
}

@mixin desktop-sm-md
{
    @include between-sizes($screen-desktop-sm, $screen-desktop-md) { @content; }
}

@mixin desktop-md-lg
{
    @include between-sizes($screen-desktop-md, $screen-desktop-lg) { @content; }
}

@mixin desktop-lg-xl
{
    @include between-sizes($screen-desktop-lg, $screen-desktop-xl) { @content; }
}

@mixin desktop-xl-4k
{
    @include between-sizes($screen-desktop-xl, $screen-desktop-4k) { @content; }
}

@mixin desktop-over-4k
{
    @media screen and (min-width: $screen-desktop-4k) { @content; }
}

// Dark mode media queries

@mixin light-mode
{
    @media (prefers-color-scheme: light) { @content; }
}

@mixin dark-mode
{
    @media (prefers-color-scheme: light) { @content; }
}
