@use 'colors';
@use 'common';
@use 'screens';

/* Custom scrollbar styling */

@mixin scrollbar($foreground: colors.$gray, $foreground-hover: colors.$white, $foreground-active: colors.$white, $background: colors.$gray) {

  // W3C standard properties (Firefox-only currently)
  // Specification: https://drafts.csswg.org/css-scrollbars-1/

  scrollbar-color: $foreground $background;
  scrollbar-width: thin;

  // WebKit specification
  // Guide: https://css-tricks.com/custom-scrollbars-in-webkit/
  // About background-clip+border: https://stackoverflow.com/a/62637329

  // Approximate sizes (zoom independent)
  $scrollbar-thumb-width: 12px;
  $scrollbar-track-width: 2px;
  $scrollbar-thumb-padding: 6px;
  $scrollbar-width: calc($scrollbar-track-width + (2 * $scrollbar-thumb-padding));
  $scrollbar-track-padding: calc(($scrollbar-width - $scrollbar-track-width) / 2);

  &::-webkit-scrollbar {
    background-color: transparent;
    width: $scrollbar-width;
  }

  &::-webkit-scrollbar-track {
    background-color: $background;
    border-radius: 100rem;
    background-clip: padding-box;
    border: $scrollbar-track-padding solid transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    @include common.floating();
    background-color: $foreground;
    border-radius: common.$border-radius-capsule;
    background-clip: padding-box;
    border: $scrollbar-thumb-padding solid transparent;
    box-shadow: 0px -1px 1px $background inset;

    &:hover {
      background-color: $foreground-hover;
    }

    &:active {
      background-color: $foreground-active;
    }
  }
  
  &::-webkit-scrollbar-button {
    border-radius: 100rem;
  }
  
  &::-webkit-scrollbar-corner {
    display: none;
  }

  // Because sizing is in viewport units, we need to update it depending on viewport size for consistency
  // This has an added benefit of forcing the scrollbars to rerender when the size changes enough
  // Chromium optimizes scrollbars with vw by only rerendering on zoom, but this can causes visual bugs

  @include screens.desktop-lg-xl {
    // base width: 2500 ->
    // total = 0.96, trackpad = 0.44, padding = 0.24

    &::-webkit-scrollbar {
      width: 0.96vw;
      height: 0.96vw
    }

    &::-webkit-scrollbar-track {
      border-width: 0.44vw !important;
    }

    &::-webkit-scrollbar-thumb {
      border-width: 0.24vw !important;
    }
  }

  @include screens.desktop-over-4k {
    // base width: 2500 ->
    // total = 0.96, trackpad = 0.44, padding = 0.24

    &::-webkit-scrollbar {
      width: 0.96vw;
      height: 0.96vw
    }

    &::-webkit-scrollbar-track {
      border-width: 0.44vw !important;
    }

    &::-webkit-scrollbar-thumb {
      border-width: 0.24vw !important;
    }
  }

  @include screens.desktop-lg-xl {
    // total = 0.96, trackpad = 0.44, padding = 0.24

    &::-webkit-scrollbar {
      width: 0.96vw;
      height: 0.96vw
    }

    &::-webkit-scrollbar-track {
      border-width: 0.44vw !important;
    }

    &::-webkit-scrollbar-thumb {
      border-width: 0.24vw !important;
    }
  }

  @include screens.desktop-md-lg {
    // total = 1.26316, trackpad =  0.57895, padding = 0.31579

    &::-webkit-scrollbar {
      width: 1.26316vw;
    }

    &::-webkit-scrollbar-track {
      border-width:  0.57895vw !important;
    }

    &::-webkit-scrollbar-thumb {
      border-width: 0.31579vw !important;
    }
  }

  @include screens.desktop-sm-md {
    // total = 1.71429, trackpad = 0.78572, padding = 0.42858

    &::-webkit-scrollbar {
      width: 1.71429vw;
    }

    &::-webkit-scrollbar-track {
      border-width: 0.78572vw !important;
    }

    &::-webkit-scrollbar-thumb {
      border-width: 0.42858vw !important;
    }
  }

  @include screens.mobile-desktop-range {
    // total = 2, trackpad = 0.91666, padding = 0.5

    &::-webkit-scrollbar {
      width: 2vw;
    }

    &::-webkit-scrollbar-track {
      border-width: 0.91666vw !important;
    }

    &::-webkit-scrollbar-thumb {
      border-width: 0.5vw !important;
    }
  }

  @include screens.mobile-md-lg {
    // total = 2.41937, trackpad = 1.10888, padding = 0.60486

    &::-webkit-scrollbar {
      width: 2.41937vw;
    }

    &::-webkit-scrollbar-track {
      border-width: 1.10888vw !important;
    }

    &::-webkit-scrollbar-thumb {
      border-width: 0.60486vw !important;
    }
  }

  @include screens.mobile-sm-md {
    // total = 3.125, trackpad = 1.43229, padding = 0.78125

    &::-webkit-scrollbar {
      width: 3.125vw;
    }

    &::-webkit-scrollbar-track {
      border-width: 1.43229vw !important;
    }

    &::-webkit-scrollbar-thumb {
      border-width: 0.78125vw !important;
    }
  }

  @include screens.too-small {
    // total = 4.16667, trackpad = 1.90972, padding = 1.04166

    &::-webkit-scrollbar {
      width: 4.16667vw;
    }

    &::-webkit-scrollbar-track {
      border-width: 1.90972vw !important;
    }

    &::-webkit-scrollbar-thumb {
      border-width: 1.04166vw !important;
    }
  }
}

/* Universal scrollbar styling, change if this creates issues */

* {
  @include scrollbar();
}

/* Scrollbar classes */

.scrollbar {
  @include scrollbar();
}
