@use 'colors';
@use 'common';

// Text styling presets

$font-size-h1: 4rem;
$font-size-h2: 3.5rem;
$font-size-h3: 3rem;
$font-size-h4: 2.5rem;
$font-size-h5: 2rem;
$font-size-h6: 1.5rem;
$font-size-lg: 1.2rem;
$font-size-md: 1rem;
$font-size-sm: 0.666rem;

$display-font: 'Righteous', sans-serif;
$primary-font: 'Quicksand', sans-serif;

// Default font across site

html, body 
{
    font-family: $primary-font;
}

// Header restyling

h1
{
    margin: 0;
    text-transform: uppercase;
    font-family: $display-font;
    font-size: $font-size-h1;
}

h2
{
    margin: 0;
    text-transform: uppercase;
    font-family: $display-font;
    font-size: $font-size-h2;
}

h3
{
    margin: 0;
    font-family: $display-font;
    font-size: $font-size-h3;
}

h4
{
    margin: 0;
    font-family: $display-font;
    font-size: $font-size-h4;
}

h5
{
    margin: 0;
    font-family: $display-font;
    font-size: $font-size-h5;
}

h6
{
    margin: 0;
    font-family: $display-font;
    font-size: $font-size-h6;
}

// Small text tag

small
{
    font-size: $font-size-sm;
    font-weight: bold;
    font-family: $primary-font;
}

// Horizontal rule styles (AKA dividers/separators)

hr, .divider, .separator
{
    width: calc(100% - (common.$padding-sm * 2));
    height: 1px;
    max-height: 1px;
    box-sizing: content-box;
    margin: common.$padding-sm common.$padding-sm;
    background-color: colors.$gray;
    border: none;
}

// Link styling

a
{
    color: colors.$magenta;
    text-decoration: none;
    font-weight: bolder;

    &:hover, &:focus {
        text-decoration: underline;
    }

    &:visited 
    {
        color: colors.$purple;
    }
}

// Typography classes

.text-display
{
    @extend h1;
}

.text-title
{
    @extend h2;
}

.text-header
{
    @extend h4;
}

.text-subheader
{
    @extend h6;
}

.text-body
{
    font-weight: bold;
    font-family:  $primary-font;
}

.text-caption
{
    opacity: 75%;
    font-family:  $primary-font;
    font-style: italic;
}

.text-small
{
    @extend small
}
